.quiz-section {
  display: flex;
  justify-content: center;
  gap: 22px;
  width: 660px;
  height: 100%;
  flex-direction: column;
  touch-action: none;
  user-select: none;
  @include smaller-desktop {
    width: 550px;
  }
  @include tablet {
    width: 88%;
  }
  @include mobile {
    width: 100%;
  }
  .question-btn {
    display: flex;
    border: 0;
    column-gap: 24px;
    background-color: $quizBtn;
    height: max-content;
    min-width: 100%;
    padding: 14px 16px; 
    border-radius: 20px;
    align-items: center;
    transition: opacity .2s ease;
    @include mobile {
      border-radius: 12px;
    }
    &:hover {
      opacity: .8;
      transition: opacity .2s ease;
      @include tablet {
        opacity: 1;
      }
    }
    @include smaller-desktop {
      column-gap: 18px;
    }
    @include mobile {
      padding: 12px 14px;
    }
    .quiz-icon {
      height: 55px;
      min-width: 55px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include smaller-desktop {
        height: 45px;
        min-width: 45px;
      }
      @include mobile {
        height: 40px;
        min-width: 40px;
      }
      i {
        font-size: 36px;
        @include smaller-desktop {
          font-size: 26px;
        }
        @include mobile {
          font-size: 24px;
        }
      }
    }
    h2 {
      color: $text;
      font-size: 22px;
      font-weight: bold;
      text-align: left;
      @include smaller-desktop {
        font-size: 20px;
      }
      @include mobile {
        font-size: 18.5px;
      }
    }
  }
  .quiz-icon {
    background-color: #ddd;
  }
  .quiz-answer-text {
    color: #606060;
    font-size: 26px;
    @include smaller-desktop {
      font-size: 24px;
    }
    @include mobile {
      font-size: 23px;
    }
  }
  .submit-answer {
    width: 100%;
    height: 80px;
    background-color: $submitProgress;
    border-radius: 25px;
    margin-top: 8px;
    transition: opacity .2s ease;
    box-shadow: rgba(50, 50, 93, 0.45) 0px 13px 27px -5px, rgba(229, 229, 229, 0.2) 0px 8px 16px -8px;
    h1 {
      color: $text;
      font-size: 26px;
      @include smaller-desktop {
        font-size: 24px;
      }
      @include tablet {
        font-size: 23px;
      }
      @include mobile {
        font-size: 22px;
      }
    }
    @include smaller-desktop {
      height: 70px;
    }
    @include tablet {
      height: 65px;
    }
  }
}

.text-question-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  @include smaller-desktop {
    row-gap: 40px;
  }
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
  .main-text-quiz-section {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    width: 450px;
    @include smaller-desktop {
      width: 420px;
    }
    @include tablet {
      width: 88%;
    }
    @include mobile {
      width: 100%;
    }
    i {
      color: $blueText;
      font-size: 18px;
      @include mobile {
        font-size: 17px;
      }
    }
    h1 {
      font-size: 32px;
      color: $text;
      font-weight: 700;
      margin-top: 15px;
      @include mobile {
        font-size: 27px;
      }
      @include smaller-mobile {
        font-size: 24px;
      }
    }
    .progress-bar {
      --before-width: 10%;
      height: 16px;
      background-color: $quizBtn;
      border-radius: 10px;
      margin-top: 40px;
      width: 100%;
      position: relative;
      @include tablet {
        margin-top: 22px;
      }
      @include mobile {
        margin-top: 15px;
      }
      &::before {
        width: var(--before-width);
        height: 9px;
        background-color: $submitProgress;
        content: "";
        position: absolute;
        border-radius: 10px;
        top: 50%;
        left: 5px;
        transform: translate(0, -50%);
        transition: width .2s ease;
      }
    }
  }
}

.main-choose-quiz-section {
  .question-btn {
    .quiz-icon.html-icon {
      background-color: $htmlIconBg;
      i {
        color: $htmlIcon;
        font-size: 30px;
        @include smaller-desktop {
          font-size: 24px;
        }
        @include mobile {
          font-size: 22px;
        }
      }
    }
    .quiz-icon.css-icon {
      background-color: $cssIconBg;
      i {
        color: $cssIcon;
      }
    }
    .quiz-icon.js-icon {
      background-color: $jsIconBg;
      color: $jsIcon;
    }
    .quiz-icon.access-icon {
      background-color: $accessIconBg;
      color: $accessIcon;
    }
  }
}