.quiz-section {
  display: flex;
  justify-content: center;
  gap: 22px;
  width: 660px;
  height: 100%;
  flex-direction: column;
  user-select: none;
  @include smaller-desktop {
    width: 550px;
    
  }
  @include tablet {
    width: 88%;
  }
  @include mobile {
    width: 100%;
  }
  .question-btn {
    display: flex;
    border: 0;
    column-gap: 24px;
    background-color: var(--quizBtn);
    height: max-content;
    min-width: 100%;
    padding: 14px 16px; 
    border-radius: 20px;
    align-items: center;
    transition: opacity .2s ease;
    @include mobile {
      border-radius: 12px;
    }
    &:hover {
      opacity: .8;
      transition: opacity .2s ease;
      @include tablet {
        opacity: 1;
      }
    }
    @include smaller-desktop {
      column-gap: 18px;
    }
    @include mobile {
      padding: 12px 14px;
    }
    .quiz-icon {
      height: 55px;
      min-width: 55px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include smaller-desktop {
        height: 45px;
        min-width: 45px;
      }
      @include mobile {
        height: 40px;
        min-width: 40px;
      }
      i {
        font-size: 36px;
        @include smaller-desktop {
          font-size: 26px;
        }
        @include mobile {
          font-size: 24px;
        }
      }
    }
    .answer-text, .choose-quiz-btn-text {
      color: var(--text);
      font-size: 22px;
      font-weight: bold;
      text-align: left;
      @include smaller-desktop {
        font-size: 20px;
      }
      @include mobile {
        font-size: 18.5px;
      }
    }
  }
  .quiz-icon {
    background-color: var(--lightgrey);
  }
  .quiz-answer-text {
    color: var(--grey);
    font-size: 26px;
    font-weight: bold;
    @include smaller-desktop {
      font-size: 24px;
    }
    @include mobile {
      font-size: 23px;
    }
  }
  .submit-answer {
    width: 100%;
    height: 80px;
    background-color: var(--submitProgress);
    border-radius: 25px;
    margin-top: 8px;
    transition: opacity .2s ease;
    // box-shadow: rgba(50, 50, 93, 0.45) 0px 13px 27px -5px, rgba(229, 229, 229, 0.2) 0px 8px 16px -8px;
    .submit-text {
      color: var(--text);
      font-size: 26px;
      font-weight: bold;
      @include smaller-desktop {
        font-size: 24px;
      }
      @include tablet {
        font-size: 23px;
      }
      @include mobile {
        font-size: 22px;
      }
    }
    @include smaller-desktop {
      height: 70px;
    }
    @include tablet {
      height: 65px;
    }
  }
}

.text-question-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  @include smaller-desktop {
    row-gap: 40px;
  }
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
  .main-text-quiz-section {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    width: 450px;
    @include smaller-desktop {
      width: 420px;
    }
    @include tablet {
      width: 88%;
    }
    @include mobile {
      width: 100%;
    }
    i {
      color: var(--blueText);
      font-size: 18px;
      @include mobile {
        font-size: 17px;
      }
    }
    .question-text {
      font-size: 32px;
      color: var(--text);
      font-weight: 700;
      margin-top: 15px;
      @include mobile {
        font-size: 27px;
      }
      @include smaller-mobile {
        font-size: 24px;
      }
    }
    .progress-bar {
      --before-width: 9%;
      height: 16px;
      background-color: var(--quizBtn);
      border-radius: 10px;
      margin-top: 40px;
      width: 100%;
      position: relative;
      @include tablet {
        margin-top: 22px;
      }
      @include mobile {
        margin-top: 15px;
      }
      &::before {
        width: var(--before-width);
        height: 9px;
        background-color: var(--submitProgress);
        content: "";
        position: absolute;
        border-radius: 10px;
        top: 50%;
        left: 5px;
        transform: translate(0, -50%);
        transition: width .2s ease;
      }
    }
  }
}

.main-choose-quiz-section {
  .question-btn {
    .quiz-icon.html-icon {
      background-color: var(--htmlIconBg);
      i {
        color: var(--htmlIcon);
        font-size: 30px;
        @include smaller-desktop {
          font-size: 24px;
        }
        @include mobile {
          font-size: 22px;
        }
      }
    }
    .quiz-icon.css-icon {
      background-color: var(--cssIconBg);
      i {
        color: var(--cssIcon);
      }
    }
    .quiz-icon.js-icon {
      background-color: var(--jsIconBg);
      color: var(--jsIcon);
    }
    .quiz-icon.access-icon {
      background-color: var(--accessIconBg);
      color: var(--accessIcon);
    }
  }
}

.score-container {
  @include tablet {
    display: flex;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
  }
}
// do wystylowania
.score-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
  row-gap: 10px;
  .score-text-section {
    width: 500px;
    border-radius: 10px;
    height: 350px;
    background-color: var(--lightgrey);
    @include tablet {
      width: 60%;
      height: 320px;
    }
    @include mobile {
      width: 75%;
      height: 280px;
    }
    @include smaller-mobile {
      width: 85%;
      height: 250px;
    }
    .score-number {
      font-size: 125px;
      line-height: 1.2;
      font-weight: bold;
      color: var(--blueText);
      @include tablet {
        font-size: 110px;
      }
      @include mobile {
        font-size: 90px;
      }
      @include smaller-mobile {
        line-height: 1.1;
        font-size: 70px;
      }
    }
    .score-what-type-quiz {
      font-weight: bold;
      font-size: 30px;
      color: var(--blueText);
      @include mobile {
        font-size: 26px;
      }
    }
    .score-of-full {
      font-size: 30px;
      font-weight: bold;
      color: var(--blueText);
      @include mobile {
        font-size: 26px;
      }
    }
  }
  .play-again-btn {
    width: 500px;
    height: 80px;
    background-color: var(--submitProgress);
    color: var(--text);
    border-radius: 10px;
    font-weight: bold;
    transition: opacity .3s ease;
    font-size: 28px;
    @include tablet {
      width: 60%;
    }
    @include mobile {
      width: 75%;
      font-size: 25px;
    }
    @include smaller-mobile {
      width: 85%;
    }
    &:hover {
      opacity: .8;
      transition: opacity .3s ease;
    }
  }
}