@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html.dark {
  --bg: #313E51;
  --text: #fff;
  --blueText: #707F96;
  --bgCircle: #2D3949;
  --htmlIconBg: #FFF0E8;
  --htmlIcon: #F79E65;
  --cssIconBg: #E0FDEF;
  --cssIcon: #5EC599;
  --jsIconBg: #EDEFFC;
  --jsIcon: #84AEFF;
  --accessIconBg: #F5E7FF;
  --accessIcon: #8738C8;
  --themeSwitcherBg: #A829F4;
  --quizBtn: #3C4D67;
  --lightgrey: #ddd;
  --submitProgress: #A629F5;
  transition: 0.3s ease;
}

html.light {
  --bg: #f0f0f0;
  --text: #303030;
  --blueText: #2a3039;
  --bgCircle: #dfdfdf;
  --htmlIconBg: #454133;
  --htmlIcon: #bc9843;
  --cssIconBg: #131622;
  --cssIcon: #5bc4d0;
  --jsIconBg: #535440;
  --jsIcon: #ecf683;
  --accessIconBg: #303336;
  --accessIcon: #a9d0dd;
  --themeSwitcherBg: #91e07f;
  --quizBtn: #cecece;
  --submitProgress: #91e07f;
  --lightgrey: #ddd;
  --grey: #1b1b1b;
  transition: 0.3s ease;
}

.quiz-section {
  display: flex;
  justify-content: center;
  gap: 22px;
  width: 660px;
  height: 100%;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1450px) {
  .quiz-section {
    width: 550px;
  }
}
@media (max-width: 1130px) {
  .quiz-section {
    width: 88%;
  }
}
@media (max-width: 700px) {
  .quiz-section {
    width: 100%;
  }
}
.quiz-section .question-btn {
  display: flex;
  border: 0;
  -moz-column-gap: 24px;
       column-gap: 24px;
  background-color: var(--quizBtn);
  height: -moz-max-content;
  height: max-content;
  min-width: 100%;
  padding: 14px 16px;
  border-radius: 20px;
  align-items: center;
  transition: opacity 0.2s ease;
}
@media (max-width: 700px) {
  .quiz-section .question-btn {
    border-radius: 12px;
  }
}
.quiz-section .question-btn:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
@media (max-width: 1130px) {
  .quiz-section .question-btn:hover {
    opacity: 1;
  }
}
@media (max-width: 1450px) {
  .quiz-section .question-btn {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}
@media (max-width: 700px) {
  .quiz-section .question-btn {
    padding: 12px 14px;
  }
}
.quiz-section .question-btn .quiz-icon {
  height: 55px;
  min-width: 55px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1450px) {
  .quiz-section .question-btn .quiz-icon {
    height: 45px;
    min-width: 45px;
  }
}
@media (max-width: 700px) {
  .quiz-section .question-btn .quiz-icon {
    height: 40px;
    min-width: 40px;
  }
}
.quiz-section .question-btn .quiz-icon i {
  font-size: 36px;
}
@media (max-width: 1450px) {
  .quiz-section .question-btn .quiz-icon i {
    font-size: 26px;
  }
}
@media (max-width: 700px) {
  .quiz-section .question-btn .quiz-icon i {
    font-size: 24px;
  }
}
.quiz-section .question-btn .answer-text, .quiz-section .question-btn .choose-quiz-btn-text {
  color: var(--text);
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}
@media (max-width: 1450px) {
  .quiz-section .question-btn .answer-text, .quiz-section .question-btn .choose-quiz-btn-text {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .quiz-section .question-btn .answer-text, .quiz-section .question-btn .choose-quiz-btn-text {
    font-size: 18.5px;
  }
}
.quiz-section .quiz-icon {
  background-color: var(--lightgrey);
}
.quiz-section .quiz-answer-text {
  color: var(--grey);
  font-size: 26px;
  font-weight: bold;
}
@media (max-width: 1450px) {
  .quiz-section .quiz-answer-text {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .quiz-section .quiz-answer-text {
    font-size: 23px;
  }
}
.quiz-section .submit-answer {
  width: 100%;
  height: 80px;
  background-color: var(--submitProgress);
  border-radius: 25px;
  margin-top: 8px;
  transition: opacity 0.2s ease;
}
.quiz-section .submit-answer .submit-text {
  color: var(--text);
  font-size: 26px;
  font-weight: bold;
}
@media (max-width: 1450px) {
  .quiz-section .submit-answer .submit-text {
    font-size: 24px;
  }
}
@media (max-width: 1130px) {
  .quiz-section .submit-answer .submit-text {
    font-size: 23px;
  }
}
@media (max-width: 700px) {
  .quiz-section .submit-answer .submit-text {
    font-size: 22px;
  }
}
@media (max-width: 1450px) {
  .quiz-section .submit-answer {
    height: 70px;
  }
}
@media (max-width: 1130px) {
  .quiz-section .submit-answer {
    height: 65px;
  }
}

.text-question-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 1450px) {
  .text-question-area {
    row-gap: 40px;
  }
}
@media (max-width: 1130px) {
  .text-question-area {
    flex-direction: column;
    align-items: center;
  }
}
.text-question-area .main-text-quiz-section {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  width: 450px;
}
@media (max-width: 1450px) {
  .text-question-area .main-text-quiz-section {
    width: 420px;
  }
}
@media (max-width: 1130px) {
  .text-question-area .main-text-quiz-section {
    width: 88%;
  }
}
@media (max-width: 700px) {
  .text-question-area .main-text-quiz-section {
    width: 100%;
  }
}
.text-question-area .main-text-quiz-section i {
  color: var(--blueText);
  font-size: 18px;
}
@media (max-width: 700px) {
  .text-question-area .main-text-quiz-section i {
    font-size: 17px;
  }
}
.text-question-area .main-text-quiz-section .question-text {
  font-size: 32px;
  color: var(--text);
  font-weight: 700;
  margin-top: 15px;
}
@media (max-width: 700px) {
  .text-question-area .main-text-quiz-section .question-text {
    font-size: 27px;
  }
}
@media (max-width: 390px) {
  .text-question-area .main-text-quiz-section .question-text {
    font-size: 24px;
  }
}
.text-question-area .main-text-quiz-section .progress-bar {
  --before-width: 9%;
  height: 16px;
  background-color: var(--quizBtn);
  border-radius: 10px;
  margin-top: 40px;
  width: 100%;
  position: relative;
}
@media (max-width: 1130px) {
  .text-question-area .main-text-quiz-section .progress-bar {
    margin-top: 22px;
  }
}
@media (max-width: 700px) {
  .text-question-area .main-text-quiz-section .progress-bar {
    margin-top: 15px;
  }
}
.text-question-area .main-text-quiz-section .progress-bar::before {
  width: var(--before-width);
  height: 9px;
  background-color: var(--submitProgress);
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 5px;
  transform: translate(0, -50%);
  transition: width 0.2s ease;
}

.main-choose-quiz-section .question-btn .quiz-icon.html-icon {
  background-color: var(--htmlIconBg);
}
.main-choose-quiz-section .question-btn .quiz-icon.html-icon i {
  color: var(--htmlIcon);
  font-size: 30px;
}
@media (max-width: 1450px) {
  .main-choose-quiz-section .question-btn .quiz-icon.html-icon i {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .main-choose-quiz-section .question-btn .quiz-icon.html-icon i {
    font-size: 22px;
  }
}
.main-choose-quiz-section .question-btn .quiz-icon.css-icon {
  background-color: var(--cssIconBg);
}
.main-choose-quiz-section .question-btn .quiz-icon.css-icon i {
  color: var(--cssIcon);
}
.main-choose-quiz-section .question-btn .quiz-icon.js-icon {
  background-color: var(--jsIconBg);
  color: var(--jsIcon);
}
.main-choose-quiz-section .question-btn .quiz-icon.access-icon {
  background-color: var(--accessIconBg);
  color: var(--accessIcon);
}

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg);
}
@media (max-width: 1130px) {
  html {
    height: -moz-max-content;
    height: max-content;
  }
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles-parent {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.circles {
  min-height: 100vh;
  height: 200%;
  width: 100vw;
  z-index: -1;
}
.circles:after {
  content: "";
  position: absolute;
  left: -380px;
  top: -250px;
  height: 800px;
  z-index: -1;
  width: 800px;
  border-radius: 800px;
  border: 130px solid var(--bgCircle);
  filter: brightness(96%);
}
@media (max-width: 1450px) {
  .circles:after {
    left: -500px;
    bottom: 400px;
  }
}
.circles::before {
  content: "";
  position: absolute;
  right: -200px;
  bottom: -450px;
  z-index: -1;
  height: 800px;
  width: 800px;
  border-radius: 800px;
  border: 130px solid var(--bgCircle);
  filter: brightness(96%);
}
@media (max-height: 900px) and (min-width: 1130px) {
  .circles::before {
    display: none;
  }
}
@media (max-width: 1130px) {
  .circles::before {
    display: none;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 0px 100px;
  padding-top: 140px;
  position: relative;
}
@media (max-width: 1450px) {
  .wrapper {
    padding: 80px 55px;
  }
}
@media (max-height: 900px) and (min-width: 1130px) {
  .wrapper {
    padding-top: 90px !important;
  }
}
@media (max-width: 1130px) {
  .wrapper {
    padding-top: 105px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 700px) {
  .wrapper {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 390px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  right: 100px;
  top: 50px;
}
@media (max-width: 1450px) {
  .header {
    right: 60px;
  }
}
@media (max-width: 1130px) {
  .header {
    right: 100px;
    margin-top: 30px;
    top: 10px;
  }
}
@media (max-width: 700px) {
  .header {
    right: 45px;
  }
}
.header section {
  display: flex;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.header section i {
  color: var(--text);
}
.header section .theme-switcher {
  position: relative;
  width: 45px;
  height: 24px;
  background-color: var(--themeSwitcherBg);
  border-radius: 40px;
  transition: 0.2s;
  cursor: pointer;
  z-index: 2;
  touch-action: none;
}
.header section .theme-switcher::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 22.5px;
  height: 18px;
  width: 18px;
  border-radius: inherit;
  transition: 0.2s;
  background-color: var(--text);
}
.header section .theme-switcher:not(.switched)::after {
  left: 3px;
}

.main {
  margin-top: 50px;
  width: 100%;
}
@media (max-width: 1130px) {
  .main {
    margin-top: 0;
  }
}
.main .main-choose-quiz {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1130px) {
  .main .main-choose-quiz {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    margin-top: 0px;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .main .main-choose-quiz {
    margin-bottom: 30px;
    row-gap: 18px;
  }
}
@media (max-width: 1130px) {
  .main .main-text-section {
    margin-bottom: 16px;
  }
}
@media (max-width: 700px) {
  .main .main-text-section {
    margin-bottom: 12px;
  }
}
.main .main-text-section h1 {
  font-size: 62px;
  line-height: 1.2;
  color: var(--text);
  margin-bottom: 40px;
}
@media (max-width: 1450px) {
  .main .main-text-section h1 {
    font-size: 53px;
  }
}
@media (max-width: 1130px) {
  .main .main-text-section h1 {
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .main .main-text-section h1 {
    font-size: 43px;
  }
}
@media (max-width: 390px) {
  .main .main-text-section h1 {
    font-size: 38px;
  }
}
@media (max-width: 330px) {
  .main .main-text-section h1 {
    font-size: 35px;
  }
}
.main .main-text-section i {
  color: var(--blueText);
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 700px) {
  .main .main-text-section i {
    font-size: 19px;
  }
}

.hide {
  visibility: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
  top: 0;
  height: 0;
}

.selected {
  outline: 2px solid var(--text) !important;
}

.not-selected {
  opacity: 0.3;
  transition: opacity 0.2s ease;
  cursor: not-allowed;
}

.error {
  outline: 2px solid lightcoral !important;
  transition: outline 0.2s ease;
}

.choose-quiz-btn {
  transition: transform 0.2s ease !important;
}
.choose-quiz-btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease !important;
}
@media (max-width: 1130px) {
  .choose-quiz-btn:hover {
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */