html.dark {
  --bg: #313E51;
  --text: #fff;
  --blueText: #707F96;
  --bgCircle: #2D3949;
  --htmlIconBg: #FFF0E8;
  --htmlIcon: #F79E65;
  --cssIconBg: #E0FDEF;
  --cssIcon: #5EC599;
  --jsIconBg: #EDEFFC;
  --jsIcon: #84AEFF;
  --accessIconBg: #F5E7FF;
  --accessIcon: #8738C8;
  --themeSwitcherBg: #A829F4;
  --quizBtn: #3C4D67;
  --lightgrey: #ddd;
  --submitProgress: #A629F5;
  transition: .3s ease;
}

html.light {
  --bg: #f0f0f0;
  --text: #303030;
  --blueText: #2a3039;
  --bgCircle: #dfdfdf;
  --htmlIconBg: #454133;
  --htmlIcon: #bc9843;
  --cssIconBg: #131622;
  --cssIcon: #5bc4d0;
  --jsIconBg: #535440;
  --jsIcon: #ecf683;
  --accessIconBg: #303336;
  --accessIcon: #a9d0dd;
  --themeSwitcherBg: #91e07f;
  --quizBtn: #cecece;
  --submitProgress: #91e07f;
  --lightgrey: #ddd;
  --grey: #1b1b1b;
  transition: .3s ease;
}

@mixin smaller-desktop {
  @media (max-width: 1450px) {
    @content;
  }
}

@mixin smaller-height {
  @media (max-height: 900px) and (min-width: 1130px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1130px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin smaller-mobile {
  @media (max-width: 390px) {
    @content;
  }
}

@mixin even-smaller-mobile {
  @media (max-width: 330px) {
    @content;
  } 
}

@import './question-section';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg);
  @include tablet {
    height: max-content;
  }
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles-parent {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.circles {
  min-height: 100vh;
  height: 200%;
  width: 100vw;
  z-index: -1;
  &:after {
    content: "";
    position: absolute;
    left: -380px;
    top: -250px;
    height: 800px;
    z-index: -1;
    width: 800px;
    border-radius: 800px;
    border: 130px solid var(--bgCircle);
    filter: brightness(96%);
    @include smaller-desktop {
      left: -500px;
      bottom: 400px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    right: -200px;
    bottom: -450px;
    z-index: -1;
    height: 800px;
    width: 800px;
    border-radius: 800px;
    border: 130px solid var(--bgCircle);
    filter: brightness(96%);
    @include smaller-height {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 0px 100px;
  padding-top: 140px;
  position: relative;
  @include smaller-desktop {
    padding: 80px 55px;
  }
  @include smaller-height {
    padding-top: 90px !important;
  }
  @include tablet {
    padding-top: 105px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mobile {
    padding-left: 35px;
    padding-right: 35px;
  }
  @include smaller-mobile {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: max-content;
  position: absolute;
  right: 100px;
  top: 50px;
  @include smaller-desktop {
    right: 60px;
  }
  @include tablet {
    right: 100px;
    margin-top: 30px;
    top: 10px;
  }
  @include mobile {
    right: 45px;
  }
  section {
    display: flex;
    align-items: center;
    column-gap: 18px;
    i {
      color: var(--text);
    }
    .theme-switcher {
      position: relative;
      width: 45px;
      height: 24px;
      background-color: var(--themeSwitcherBg);
      border-radius: 40px;
      transition: .2s;
      cursor: pointer;
      z-index: 2;
      touch-action: none;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 22.5px;
        height: 18px;
        width: 18px;
        border-radius: inherit;
        transition: .2s;
        background-color: var(--text);
      }
      &:not(.switched)::after {
        left: 3px;
      }
    }
  }
}

.main {
  margin-top: 50px;
  width: 100%;
  @include tablet {
    margin-top: 0;
  }
  .main-choose-quiz {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 25px;
      margin-top: 0px;
      margin-bottom: 60px;
      text-align: center;
    }
    @include mobile {
      margin-bottom: 30px;
      row-gap: 18px;
    }
  }
  .main-text-section {
    @include tablet {
      margin-bottom: 16px;
    }
    @include mobile {
      margin-bottom: 12px;
    }
    h1 {
      font-size: 62px;
      line-height: 1.2;
      color: var(--text);
      margin-bottom: 40px;
      @include smaller-desktop {
        font-size: 53px;
      }
      @include tablet {
        margin-bottom: 15px;
      }
      @include mobile {
        font-size: 43px;
      }
      @include smaller-mobile {
        font-size: 38px;
      }
      @include even-smaller-mobile {
        font-size: 35px;
      }
    }
    i {
      color: var(--blueText);
      font-weight: 600;
      font-size: 20px;
      @include mobile {
        font-size: 19px;
      }
    }
  }
}

.hide {
  visibility: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
  top: 0;
  height: 0;
}

.selected {
  outline: 2px solid var(--text) !important;
  transition: outline .3s ease;
}

.not-selected {
  opacity: .3;
  transition: opacity .4s ease;
  cursor: not-allowed;
}

.error {
  outline: 2px solid lightcoral !important;
  transition: outline .3s ease;
}

.choose-quiz-btn {
  transition: transform .3s ease !important;
  &:hover {
    transform: scale(1.05);
    transition: transform .3s ease !important;
    @include tablet {
      transform: scale(1);
    }
  }
}